*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.background{
    width: 98%;
    height: 900px;
    border: 2px solid black;
    margin: 5px auto;
}

.header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .logo{
    width: 15%;
    height: 80%;
    background-color: green;
    border: 2px solid black;
}

.header .info{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .info .row1{
    width: 50%;
    height: 30%;
    background-color: green;
    border:2px solid black
}

.header .info .row2{
    width: 35%;
    height: 25%;
    background-color: white;
    border: 2px solid black;
}

.header .info .row3{
    width:  100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .info .row3 .box{
    width: 15%;
    height: 90%;
    background-color: green;
    border: 2px solid black;
}

.main-content{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
}

.main-content .navigation{
    width: 20%;
    height: 450px;
    border: 2px solid black;
}

.main-content .content{
    width: 77%;
    height: 550px;
    border: 2px solid black;
}

.footer{
    width: 77%;
    height: 100px;
    border: 2px solid black;
    background-color: green;
    margin-left: 22%;
    margin-top: 20px;
}