:root{
    --primary-color:black;
    --secondary-color:white;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 150px;
    background-color: rgb(131, 128, 125);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .left{
    width: 20%;
    height: 100px;
    margin: 10px;
    padding: 20px;
    background-color: black;
}

.header .right{
    width: 60%;
    height: 100px;
    margin: 10px;
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .right .box{
    width: 17%;
    height: 80%;
    background-color: var(--secondary-color);
}

.main-section{
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard{
    width: 25%;
    height: 90%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .top{
    width: 80%;
    height: 60%;
    background-color: black;
    margin: 20px auto;
}

.dashboard .bottom{
    width: 80%;
    height: 20%;
    background-color: var(--primary-color);
    margin: 20px auto;
}

.hero{
    width: 70%;
    height: 90%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up , .down{
    width: 90%;
    height: 40%;
    background-color: var(--primary-color);
    margin: 20px auto;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(131, 128, 125);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .box{
    width: 20%;
    height: 100px;
    background-color: var(--primary-color);

}
